* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    padding: 0 50px;
    background-color: #1f2937;

}

header {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

li a {
    text-decoration: none;
    color: #fff;
    padding: 0 25px;
    display: inline-block;
}


.main-hero {
    display: flex;
    /* height: calc( 100vh - 100px ); */
    /* padding: 20px 0; */
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 50px;
    margin: 0 30px;
}


.img {
    width: 400px;
    height: auto;
    
}

.main {
    width: 30%;
    padding-bottom: 50px;
    /* margin-left: 100px; */
}

.main h1 {
    font-size: 48px;
    color: #f9faf8;
}

p {
    font-size: 18px;
    color: #e5e7eb;
    padding: 12px 0;
}

.signup {
    padding: 15px 38px;
    background: #3882f6;
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 30px;
    cursor: pointer;
}

.random {
    width: 60%;
    margin: auto;
    padding-bottom: 50px;
}

.random h1 {
    text-align: center;
    padding: 40px;

}
.boxes {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.box{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}
.boxes p {
    color: #1f2937;
    text-align: center;
    width: 200px;
}

.box p {
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    margin: auto;
}

.text p {
    font-size: 36px;
    color: #1f2937;
    padding: 150px 0;
    width: 55%;
    margin: auto;
    font-style: italic;
}

span {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: #1f2937;
    float: right;
    padding: 30px;
}

.cta {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}

.cta-content {
    background-color: #3882f6;
    width: 60%;
    display: flex;
    border-radius: 12px;
    padding: 50px 150px;
    justify-content: space-between;
    align-items: center;
}

.cta-content h1 {
    font-size: 40px;
    color: #f9faf8;
    text-align: left;
}

.cta-content p {
    font-size: 20px;
    text-align: left;
}

.cta-btn {
    background-color: #3882f6;
    border: 5px solid #f9faf8;
    padding: 15px 50px;
    font-size: 25px;
    border-radius: 12px;
    color: #f9faf8;
    cursor: pointer;
}

.footer {
    background-color: #1f2937;
    padding: 50px;
}

.footer .copy {
    color: #f9faf8;
    font-size: 22px;
    text-align: center;
}